body {
  background: cornsilk;
}
h1,
h3,
p {
  text-align: center;
}
footer {
  text-align: center;
}

.plain-croissant {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
